.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.blue-btns {
    background-color: blue;
    padding: 10px;
    border: transparent;
    border-radius: 8px;
    width: 200px;
    color: white;
    font-weight: bold;
}

.red-btns {
    background-color: red;
}

input, textarea {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

form {
    width: 80%;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

